{% extends "base_layout.html" %}
{% load static %}
{% block title %}Восстановление пароля | Ruta{% endblock title %}
{% block content %}
<div class="container mt-5 position-relative auth-container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card p-4 p-md-5 custom-card">
                <h1 class="text-center mb-4">Забыли пароль?</h1>
                {% if messages %}
                    <div class="alert alert-success" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="post" action="{% url 'auth_pages:forgot_password' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Адрес электронной почты</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Введите эл. почту" required>
                    </div>
                    <button type="submit" class="btn btn-primary custom-button">Отправить ссылку</button>
                </form>
            </div>
        </div>
    </div>
    <img src="{% static 'images/balloon_light.svg' %}" class="balloon balloon-2" alt="Balloon">
    <img src="{% static 'images/balloon_dark.svg' %}" class="balloon balloon-3" alt="Balloon">
</div>
{% endblock content %}